<nav class="d-flex justify-content-around align-items-center   mb-2  row block-height">
  <ul class="nav justify-content-center text-white w-100 fixed-top bg-primary p-2">
    <li class="nav-item">
      <a class="nav-link text-white" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="/notes">Notes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="/todos">TODOs</a>
    </li>
  </ul>
</nav>
