<% if (lists.length) {%>
<ol>
    <% lists.splice(0, 4).forEach(item => {%>
    <li>
        <label>
            <input type="checkbox" name="" id="">
            <span><%= item.text%></span>
        </label>
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    <% })%>
</ol>
<% }else {%>
<p>Empty</p>
<% }%>
<% if (notes.length) {%>
<div class="row">
    <% notes.splice(0, 4).forEach(item => {%>
    <div class="card col-6 border border-primary">
        <div class="card-body">
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h5 class="card-title"><%= item.title%></h5>
            <p class="card-text hide-text"><%= item.body%></p>
            <a href="#" class="btn btn-primary">Edit</a>
        </div>
    </div>
    <% })%>
</div>
<% }else {%>
<p>Empty</p>
<% }%>