<%- include('components/head') %>

<body>
    <div class="container border border-primary min-vh-100">
        <%- include('components/navbar') %>
        <h1><%= pageTitle%></h1>
        <%- body%>
    </div>
</body>

</html>