 <% if (lists.length) {%>
 <ol>
     <% lists.forEach(item => {%>
     <li>
         <label>
             <input type="checkbox" name="" id="">
             <span><%= item.text%></span>
         </label>
         <button type="button" class="close" aria-label="Close">
             <span aria-hidden="true">&times;</span>
         </button>
     </li>
     <% })%>
 </ol>
 <% }else {%>
 <p>Empty</p>
 <% }%>
 <div class="row block-height">
     <a href="/lists/create" class="btn btn-primary btn-lg active w-100 fixed-bottom" role="button"
         aria-pressed="true">Create list</a>
 </div>