<form action="/list/create" method="post">
    <div class="form-group">
        <textarea class="form-control" name="text" rows="10" placeholder="List text"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>