<% if (notes.length) {%>
<div class="row">
    <% notes.forEach(item => {%>
    <div class="card col-6 border border-primary">
        <div class="card-body">
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h5 class="card-title"><%= item.title%></h5>
                <p class="card-text text-truncate"><%= item.body%></p>
            <a href="#" class="btn btn-primary">Edit</a>
        </div>
    </div>
    <% })%>
</div>
<% }else {%>
<p>No notes</p>
<% }%>
<div class="row block-height">
    <a href="/notes/create" class="btn btn-primary btn-lg active w-100 fixed-bottom " rdive="button"
        aria-pressed="true">Create note</a>
</div>